<div >

    <div class="flex-col ">
        <div class="w-96 text-left"><input [(ngModel)]="lesson.title" class="p1 w-96 rounded-lg  m-1" type="text"
                id="className" value=""></div>
        <div class="w-96 text-left"><input [(ngModel)]="lesson.teacher" class="p1 w-96 rounded-lg  m-1" type="text"
                id="teacher" value=""></div>
        
        <div class="w-96 text-left"><input [(ngModel)]="lesson.capacity" class="p1 w-96 rounded-lg  m-1"
                type="number" id="classCapacytyInput" value=""></div>

       

    </div>
    

   