<div class="container mx-auto">

        <div class="flex-col">

            <div class="w-96 text-left"> <input [(ngModel)]="student.firstName" class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="fname" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="student.lastName" class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="lname" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="student.job"  class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="job" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="student.dateBirth"  class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="dateBirth" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="student.code" class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="code" value=""></div>


        </div>
        </div>
        
        
