<div class="container mx-auto">

        <div class="flex-col">

            <div class="w-96 text-left"> <input [(ngModel)]="student.firstName" class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="fname" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="student.lastName" class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="lname" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="student.job"  class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="job" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="student.dateBirth"  class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="dateBirth" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="student.code" class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="code" value=""></div>

                    <button (click)="addStudent()" class="transition duration-500 ease-in-out bg-blue-300 hover:bg-red-400 transform hover:-translate-y-1 hover:scale-110  p-2 rounded-2xl w-16  ">add</button>

        </div>

        </div>

        
        
