<app-header></app-header>
<div class=" flex justify-around border-red-500 rounded-b-md bg-green-200  mx-4 m-8 p-2 rounded-2xl relative...">

<ul id="nameStudent" class="flex flex-col " >
    <li *ngFor="let student of students" (click)="showStudentById(student.id)">{{student.firstName}} {{student.lastName}} </li>
</ul>

<div class="flex flex-col justify-between">
    <div class="w-96 text-left "> <span>firstName</span></div>
    <div class="w-96 text-left"> <span> lastName</span></div>
    <div class="w-96 text-left"> <span>job</span></div>
    <div class="w-96 text-left"> <span>year of birth</span></div>
    <div class="w-96 text-left"> <span> code</span></div>
</div>


    <app-detail-form [student]="showingStudent"></app-detail-form>

</div>



<router-outlet></router-outlet>