<app-header></app-header>

<div class=" flex justify-around border-red-500 rounded-b-md bg-green-200  mx-4 m-8 p-2 rounded-2xl relative...">

    <ul id="nameStudent" class="flex flex-col "  >
        <li class="cursor-pointer" *ngFor="let student of students let i= index" (click)="showStudentById(student.id)" [ngClass]="{'bg-red-300 rounded-xl':student.id === selectedId}">
            {{student.firstName}}
            {{student.lastName}}  </li>
    </ul>
    <div class="flex flex-col justify-between">
        <div class="w-96 text-left "> <span>firstName</span></div>
        <div class="w-96 text-left"> <span> lastName</span></div>
        <div class="w-96 text-left"> <span>job</span></div>
        <div class="w-96 text-left"> <span>year of birth</span></div>
        <div class="w-96 text-left"> <span> code</span></div>
    </div>
    
        
    <button (click)="modalService.open('modal-1')" class="transition duration-500 ease-in-out bg-blue-300 hover:bg-red-400 transform hover:-translate-y-1 hover:scale-110  p-2 rounded-2xl w-16  ">add</button>
    <jw-modal id="modal-1" >
        <div class="flex flex-col justify-between">
            <div class="w-96 text-left "> <span>firstName</span></div>
            <div class="w-96 text-left"> <span> lastName</span></div>
            <div class="w-96 text-left"> <span>job</span></div>
            <div class="w-96 text-left"> <span>year of birth</span></div>
            <div class="w-96 text-left"> <span> code</span></div>
        </div>
        <div class="flex-col">

            <div class="w-96 text-left"> <input [(ngModel)]="newStudent.firstName" class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="fname" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="newStudent.lastName" class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="lname" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="newStudent.job" class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="job" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="newStudent.dateBirth"  class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="dateBirth" value=""></div>
            <div class="w-96 text-left"> <input [(ngModel)]="newStudent.code" class="p1 w-full rounded-lg bg-green-100 m-1"
                    type="text" placeholder="" id="code" value=""></div>

<button (click)="addStudent()">addnew</button>
        </div>
        <button id="close" (click)="modalService.close('modal-1')">X</button>
        
</jw-modal>
    <app-detail-form [student]="showingStudent"></app-detail-form>
   
</div>
<button class="rounded-b-md bg-blue-200 mx-4 m-8 p-4 rounded-2xl" (click)="show = !show">{{show ? 'hide lesson' : 'show lesson'}}</button>
<div class="flex justify-around border-red-500 rounded-b-md bg-blue-200 mx-4 m-8 p-4 rounded-2xl" *ngIf="show">

    <ul id="list-disc">
        <li class="cursor-pointer" *ngFor=' let lesson of classes ' (click)="showLessonById(lesson.id)" [ngClass]="{'bg-red-300 rounded-xl':selectedLessonId===lesson.id}">{{lesson.title}}
        </li>
    </ul>
    
    <div class="flex-col ">
        <div class="w-96  py-1.5"><span>class Name </span> </div>
        <div class="w-96  py-1.5"><span> teacher Name </span></div>
        <div class="w-96  py-1.5"> <span>class Number</span></div>
        <div class="w-96  py-1.5"><span>capacity</span></div>



    </div>
    <app-lessons [lesson]="showigLesson"></app-lessons>
    <button (click)="modalService.open('modal-2')" >add lesson</button>
    <jw-modal id="modal-2" class="flex">
        <button id="close" (click)="modalService.close('modal-2')">X</button>
 <div class="flex-col ">
        <div class="w-96  py-1.5"><span>class Name </span> </div>
        <div class="w-96  py-1.5"><span> teacher Name </span></div>
        <div class="w-96  py-1.5"> <span>class Number</span></div>
        <div class="w-96  py-1.5"><span>capacity</span></div>



    </div>

    <div class="flex-col ">
        <div class="w-96 text-left"><input class="p1 w-96 rounded-lg  m-1" type="text"
                id="className" value=""></div>
        <div class="w-96 text-left"><input  class="p1 w-96 rounded-lg  m-1" type="text"
                id="teacher" value=""></div>
        <div class="w-96 text-left"><input class="p1 w-96 rounded-lg  m-1"
                type="number" id="classNumber" value=""></div>
        <div class="w-96 text-left"><input class="p1 w-96 rounded-lg  m-1"
                type="number" id="classCapacytyInput" value=""></div>

       

    </div>

    </jw-modal>
</div>




<router-outlet></router-outlet>